@keyframes rollin {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.slide-container {
    background: var(--theme-dimmer);
    padding: 30px;
    border-radius: 30px;
}

.slideshow-layout {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.slideshow-button {
    color: var(--theme-light-grey);
    font-size: var(--fontSize-7);
    font-family: var(--fontFamily-Diatype);
    font-weight: var(--fontWeight-thin);
}

.slideshow-button:hover {
    color: var(--theme-fg);
}

.slideshow-button:active {
    transform: translateY(3px);
}

.slideshow-button-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    min-width: 35px;
}

.slide-index {
    margin: 5px;
    margin-top: 15px;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    border: 1.5px solid var(--theme-light-grey);
    background: none;
}

.slide-index:hover {
    border: 1.5px solid var(--theme-fg);
    background: var(--theme-fg);
}

.slide-index:active {
    transform: translateY(3px);
}

.slide-index--selected {
    margin: 5px;
    margin-top: 15px;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    border: 1.5px solid var(--theme-light-grey);
    background: var(--theme-light-grey);
}

.slide-index--selected:hover {
    border: 1.5px solid var(--theme-fg);
    background: var(--theme-fg);
}

.slide-index--selected:active {
    transform: translateY(3px);
}

.slideshow-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-indices {
    display: grid;
    margin: 0 auto;
}
