<ul id="navigation-bar">
  <li id="navbar-title"><a href="/">UF OSC</a></li>
  <li class="navbar-item"><a href="/about">About</a></li>
  <li class="navbar-item">
    <a href="/">Portfolio</a>
  </li>
  <li class="navbar-item">
    <a href="/blog">Blog</a>
  </li>
  <li class="navbar-item">
    <a href="/contact">Contact</a>
  </li>
  <li class="navbar-item" id="navbar-member-item">
    <a href="/join">BECOME A MEMBER</a>
  </li>
</ul>
