<div id="navigation-bar">
  <p id="navbar-title">UF OSC</p>
  <p class="navbar-item">About</p>
  <p class="navbar-item">Portfolio</p>
  <p class="navbar-item">Blog</p>
  <p class="navbar-item">Contact</p>
  <p class="navbar-item" id="member-item">BECOME A MEMBER</p>
</div>
