.article-layout {
    width: 100%;
    min-height: calc(100vh - 70px - 92px);
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.article-layout__matter {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

.article-layout__matter__meta {
    margin: 50px 0;
    max-width: 800px;
    width: calc(100vw - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-layout__matter img {
    max-width: calc(100vw - 100px);
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.article-layout__matter__meta h2 {
    text-align: center;
    margin: 15px 0;
}

.article-layout__matter__meta .date {
    font-size: 1.1rem;
}

.subtitle {
    margin-top: 10px;
    font-size: 1.5rem;
    max-width: 500px;
    font-weight: 200;
}

.author {
    margin-top: 30px;
}

.article-layout__matter__meta h3 {
    text-align: center;
}

p {
    font-family: "Diatype";
    color: rgb(255, 255, 255);
    text-align: justify;
    font-size: 1.225rem;
    line-height: 170%;
    font-weight: 400;
    max-width: 800px;
    margin: 40px 0;
}

#inner-html img {
    max-width: 800px;
}

#inner-html a {
    color: #00FF7B;
}

#inner-html a:hover {
    color: #A6FF00;
    text-decoration: underline;
}

#inner-html h1 {
    font-family: "Diatype";
    color: white;
    font-size: 2.6rem;
    margin-top: 70px;
}

#inner-html h2 {
    font-size: 1.8rem;
    margin-top: 70px;
}

#inner-html ul {
    margin: 40px 0;
}

#inner-html li {
    color: white;
    font-family: "Diatype";
    font-size: 1.4rem;
    font-weight: 400;
    white-space: normal;
    line-height: 170%;
    word-wrap: break-word;
    max-width: 800px;
}

#inner-html blockquote {
    border-left: 2px solid rgb(255, 255, 255);
    width: 100%;
    padding-left: 20px;
}

#inner-html blockquote p {
    font-style: italic;
    font-size: 1.5rem;
}

.article-layout__recc {
    margin-top: 20px;
    display: flex;
    max-width: 800px;
    width: 100%;
    flex-direction: column;
}

.article-layout__recc h3 {
    font-size: 2rem;
}

.article-layout__recc__articles {
    display: flex;
}

@media only screen and (max-width: 650px) {
    .article-layout__recc__articles {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 500px) {
    #inner-html blockquote p {
        font-size: 1.225rem;
    }
}
