<footer>
    <div style="max-width:1400px;">
        <div class="footer-content-container">
            <div class='footer-upper'>
                <h1 style="padding-left:20px; font-size: 18px;">UF OSC</h1>
                <div class="social-buttons">
                    <a href="https://discord.gg/Gsxej6u" target="_blank"><img src="./assets/Discord.png" alt="discord" width="35" ></a>
                    <a href="https://github.com/ufosc" target="_blank"><img src="./assets/Github.png" alt="github" width="35" ></a>
                    <a href="https://instagram.com/uf_osc?igshid=YmMyMTA2M2Y=" target="_blank"><img src="./assets/Instagram.png" alt="instagram" width="35" ></a>
                    <a href="https://www.facebook.com/groups/ufosc/" target="_blank"><img src="./assets/Facebook.png" alt="facebook" width="35" ></a>
                </div>
            </div>
        </div>
        <div class="footer-content-container" style="background: white">
            <div class="footer-lower">
                <h4 style="float: left;">Copyright (C) 2007 Free Software Foundation, Inc.</h4>
                <div style="float: right">
                    <a href="https://github.com/ufosc/Club_Website_2" target="_blank" style="float: left; font-weight: bold; text-decoration: underline;">Source</a>
                    <a href="https://github.com/ufosc/Club_Website_2/blob/main/LICENSE.md" target="_blank" style="float: left; margin-left: 30px; font-weight: bold; text-decoration: underline;">License AGPL -3.0-or-later</a>
                </div>
            </div>
        </div>
    </div>
</footer>
