<div id="navigation-bar-parent">
    <ul id="navigation-bar">
        <li class="navbar-item" id="navbar-title"><a href="/">UF OSC</a></li>
        <li class="navbar-item"><a href="/about">About</a></li>
        <li class="navbar-item">
            <a href="/">Portfolio</a>
        </li>
        <li class="navbar-item">
            <a href="/blog">Blog</a>
        </li>
        <li class="navbar-item">
            <a href="/contact">Contact</a>
        </li>
        <li id="navbar-member-item">
            <a href="/join">BECOME<br />A MEMBER</a>
        </li>
    </ul>
</div>
