<div id="navigation-bar-parent">
    <ul id="navigation-bar">
        <li class="navbar-item" id="navbar-title">
            <a href="/">UF OSC</a>
        </li>
        <div class="menu">
            <hr />
            <li class="navbar-item">
                <a href="/#title_animation">ABOUT</a>
            </li>
            <li class="navbar-item">
                <a href="/#portfolio">PORTFOLIO</a>
            </li>
            <li class="navbar-item">
                <a href="/blog">BLOG</a>
            </li>
            <li class="navbar-item">
                <a href="/#contact">CONTACT</a>
            </li>
            <li id="navbar-member-item">
                <a href="/#join">BECOME<br /> A MEMBER</a>
            </li>
            <hr />
        </div>
        <button class="menu-btn">
            <img src="/assets/hb-menu.png" alt="menu">
        </button>
    </ul>
</div>
