<div style="overflow-x:auto">
    <table>
        <thead>
            <th scope="col" class="tcheckbox"><input type="checkbox" /></th>
            <th scope="col" class="title-header">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Date Published</th>
            <th scope="col">Status</th>
            <th scope="col">Author</th>
            <th scope="col">Edit</th>
        </thead>
		    <tbody>
		    </tbody>
		    <tfoot>
				    <tr>
						    <td></td>
						    <td></td>
						    <td></td>
						    <td></td>
						    <td></td>
						    <td></td>
						    <td></td>
				    </tr>
		    </tfoot>
    </table>
</div>
