.project-card {
    max-width: 400px;
    padding: 10px;
    border: 1px solid;
    border-radius: 23px;
    background: var(--theme-dimmer);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card-title {
    border: none;
    border-left: 5px solid;
    padding-left: 15px;
    margin-bottom: 10px;
}

.project-card h1 {
    font-size: var(--fontSize-3);
    margin: 10px 0;
}

.project-card h2 {
    font-weight: var(--fontWeight-light);
    font-size: var(--fontSize-2);
    margin: 10px 0;
}

.project-card button {
    margin-left: 0;
    min-height: 0;
    padding: 12px;
    height: 44px;
    min-width: 0;
    width: fit-content;
}

@media only screen and (max-width: 850px) {
    .project-card h1 {
        font-size: var(--fontSize-2);
    }

    .project-card h2 {
        font-size: var(--fontSize-2);
    }
}

@media only screen and (max-width: 500px) {
    .project-card button {
        padding: 8px;
        height: fit-content;
        width: fit-content;
    }
}
