  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Admin</title>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="css/common.css" />
      <link rel="stylesheet" href="css/navbar.css" />
      <link rel="stylesheet" href="css/table.css" />
      <link rel="stylesheet" href="css/data-row.css" />
      <link rel="stylesheet" href="css/admin.css" />
      <style>
       #temp-container {
           display: flex;
           flex-direction: column;
           justify-content: center;
       }
      </style>
      <script>var blogTableSelections = [] </script>
      <script>var usersTableSelections = [] </script>
      <script defer src="js/dashboard.js"></script>
      <script src="./js/navbar.js" defer async></script>
    </head>
    <body>
      <%- include('./components/navbar.ejs') %>
      <section id="dashboard-wrapper">
        <h1>Blog</h1>
        <hr/>
        <div>
          <div class="table-wrapper">
              <%- include('./components/blog-table.ejs', { data: [
                  {
                      tableId: "blog-table",
                      id: "1",
                      title: "My first article",
                      content: "Hello world, this is my first article...",
                      date: "15/10/2020",
                      status: "draft",
                      author: "John Doe"
                  },
                  {
                      tableId: "blog-table",
                      id: "2",
                      title: "My second article",
                      content: "Hello world, this is my second article...",
                      date: "16/10/2020",
                      status: "published",
                      author: "Jane Doe"
                  },
                  {
                      tableId: "blog-table",
                      id: "3",
                      title: "My third article",
                      content: "Hello world, this is my third article...",
                      date: "17/10/2020",
                      status: "published",
                      author: "John Doe"
                  },
                  {
                      tableId: "blog-table",
                      id: "4",
                      title: "Lorem Ipsum dolor",
                      content: "Lorem ipsum dolor...",
                      date: "15/10/2020",
                      status: "draft",
                      author: "jane Doe"
                  },
                  {
                      tableId: "blog-table",
                      id: "5",
                      title: "Why lorem ipsum?",
                      content: "Lorem Ipsum is simply dummy text of the...",
                      date: "15/10/2020",
                      status: "published",
                      author: "John Doe"
                  }
              ]}) %>
          </div>
      </div>
      <h1>Users</h1>
      <hr/>
      <div>
          <div class="table-wrapper">
              <%- include('./components/users-table.ejs', { data: [
                  {
                      tableId: "users-table",
                      id: "1",
                      username: "Username",
                      fullname: "Full name",
                      role: "Tech Lead",
                      isAdmin: true
                  },

              ]}) %>
          </div>
      </div>
      </section>
    </body>
  </html>