<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Image</title>
        <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/edit.css" />
        <script src="/js/navbar.js" defer async></script>
        <script src="/js/editDb.js" defer async></script>
        <script>
         const IS_NEW = <%= locals.isNew %>;
         const OBJ_ID = <% if (locals.data) { %>
             '<%= locals.data.id %>'
         <%} else { %>
             null
         <% } %>;
        </script>
    </head>
    <body>
        <%- include('./components/navbar.ejs') %>
        <div class="content">
            <h2>EDIT IMAGE</h2>
            <form id="edit-images-form" onsubmit="editImage(event);">
                <label for="Username">
                    Description
                    <br />
                </label>
                <input required type="text" id="Description" name="Description"
                       value="<% if (!locals.isNew) { %><%= locals.data.description %><% } %>"
                />
                <label for="File">
                    Upload file
                </label>
                <input required type="file" id="File" name="File"/>
                <input type="submit" name="submit" \>
                <% if (!locals.isNew) { %>
                    <input type="button" onclick="deleteUser()" name="delete" value="Delete" style="background-color: #FCADAD;" \>
                <% } %>
            </form>
        </div>
    </body>
</html>
