
<footer>
    <div class='footer-upper'>
        <h1>UF OSC</h1>
        <div class="social-buttons">
            <a href="https://discord.gg/Gsxej6u"><img src="./assets/Discord.png" alt="discord" width="45" ></a>
            <a href="https://github.com/ufosc"><img src="./assets/Github.png" alt="github" width="45" ></a>
            <a href="https://instagram.com/uf_osc?igshid=YmMyMTA2M2Y="><img src="./assets/Instagram.png" alt="instagram" width="45" ></a>
            <a href="https://www.facebook.com/groups/ufosc/"> <img src="./assets/Facebook.png" alt="facebook" width="45" ></a>
        </div>
    </div>
   <div class="footer-lower">
        <h4 style="float: left;">Copyright (C) 2007 Free Software Foundation, Inc.</h4>
        <div style="float: right">
            <a href="https://github.com/ufosc/Club_Website_2" style="float: left; font-weight: bold; text-decoration: underline;">Source</a>
            <a href="https://github.com/ufosc/Club_Website_2/blob/main/LICENSE.md" style="float: left; margin-left: 30px; font-weight: bold; text-decoration: underline;">License AGPL -3.0-or-later</a> 
        </div>
   </div>
</footer>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: 'Outrun';
        src: url(../fonts/outrun.otf);
    }

    @font-face {
        font-family: 'Overpass';
        src: url(../fonts/overpass.ttf);
    }

    h1 {
        font-size: 30px;
        font-family: "Outrun";
        padding-left: 20px;
        display: inline;
    }

    .footer-upper {
        width: 100vw;
        height: 85px;
        vertical-align: baseline;
        text-align: left;
        background-color: black;
        color: white;
        font-size: 30px;
        font-family: 'Outrun';

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .social-buttons {
        margin-right: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    

    .footer-lower {
        background-color: white;
        padding-right: 30px;
        padding-left: 20px;
        padding-top: 10px;
    }


    h4,
    .footer-lower a {
        font-family: 'Overpass';
        font-size:  13px;
        font-weight:300;
        color: black;
    }   
    

</style> 
   