<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= page %></title>
    </head>
    <body>
        <h1>Title: <%= page %></h1>
        <p>This is a placeholder for my website.</p>
    </body>
</html>
