<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= page %></title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
        <link rel="stylesheet" href="css/common.css" />
        <link rel="stylesheet" href="css/index.css" />
        <script src="./js/navbar.js" defer async></script>
    </head>
    <body>
        <%- include('./components/alert.ejs') %>
        <%- include('./components/navbar.ejs') %>
        <section class="about">
            <div class="section_heading">
                <h2 id="about">About</h2>
                <div>Open Source Club</div>
            </div>
            <div class="about__animation">
                <canvas class="scene scene--full" id="scene"></canvas>
            </div>
            <div class="about__get-started">
                <div class="about__get-started__content">
                    <div class="about__get-started__content-left">
                        <h2>Open Source Club</h2>
                        <button onclick="window.location='/#join'">Get Started</button>
                    </div>
                    <div class="about__get-started__content-right">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
                        tempore recusandae qui exercitationem blanditiis doloremque, iusto ab
                        sint sapiente ea! Voluptates amet odio quibusdam magnam veritatis
                        molestias reprehenderit facere accusamus?
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio">
            <div class="section_heading">
                <h2 id="portfolio">Portfolio</h2>
                <div>Most recent Projects</div>
            </div>
            <div class="flex-center">
            <div class="portfolio__cards">
                <div class="portfolio__cards__scroll">
                    <div id="card1" class="card">
                        <h2>Club Website</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ipsa deleniti numquam dicta nam animi odio omnis eos qui quo
                            ipsam esse, reiciendis cum cupiditate, dignissimos nihil,
                            facilis non praesentium aliquid?
                        </p>
                        <button> SOURCE </button>
                    </div>
                    <div id="card2" class="card">
                        <h2>Club Website</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ipsa deleniti numquam dicta nam animi odio omnis eos qui quo
                            ipsam esse, reiciendis cum cupiditate, dignissimos nihil,
                            facilis non praesentium aliquid?
                        </p>
                        <button> SOURCE </button>
                    </div>
                    <div id="card3" class="card">
                        <h2>Club Website</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ipsa deleniti numquam dicta nam animi odio omnis eos qui quo
                            ipsam esse, reiciendis cum cupiditate, dignissimos nihil,
                            facilis non praesentium aliquid?
                        </p>
                        <button> SOURCE </button>
                    </div>
                    <div id="card4" class="card">
                        <h2>Club Website</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ipsa deleniti numquam dicta nam animi odio omnis eos qui quo
                            ipsam esse, reiciendis cum cupiditate, dignissimos nihil,
                            facilis non praesentium aliquid?
                        </p>
                        <button> SOURCE </button>
                    </div>
                    <div id="card5" class="card">
                        <h2>Club Website</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ipsa deleniti numquam dicta nam animi odio omnis eos qui quo
                            ipsam esse, reiciendis cum cupiditate, dignissimos nihil,
                            facilis non praesentium aliquid?
                        </p>
                        <button> SOURCE </button>
                    </div>
                    <button class="portfolio__cards__scroll__btn-left"><img src="./assets/left-swipe-arrow.png" alt="left arrow"></button>
                    <button class="portfolio__cards__scroll__btn-right"><img src="./assets/left-swipe-arrow.png" alt="right arrow"></button>
                </div>
            </div>
            </div>

                <div class="portfolio__content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Explicabo vel esse voluptatibus deserunt, voluptatem ipsam
                        fugiat dolores sapiente hic nihil iusto vero eveniet,
                        necessitatibus nam libero ratione nostrum neque adipisci.
                    </p>
                </div>
        </section>
        <section class="blog">
            <div class="section_heading">
                <h2>Blog</h2>
                <div>Recent Posts</div>
            </div>
            <div class="blog__posts">
                <div class="blog__posts-large odd-row">
                    <img src="/assets/temp-blog-post.png">
                    <h2>LOREM IPSUM DOLOR ></h2>
                    <p class="blog__posts__subtitle">November 1, 2022</p>
                </div>
                <div class="blog__posts-small odd-row">
                    <img src="/assets/temp-blog-post.png">
                    <h2>TITLE TEXT 2: SUBTITLE</h2>
                    <p class="blog__posts__subtitle">November 1, 2022</p>
                </div>
                <div class="blog__posts-small even-row">
                    <img src="/assets/temp-blog-post.png">
                    <h2>TITLE TEXT 2: SUBTITLE</h2>
                    <p class="blog__posts__subtitle">November 1, 2022</p>
                </div>
            </div>
            <div class="blog__see_all">
                <button>SEE ALL</button>
            </div>
        </section>
        <%- include('./components/footer.ejs') %>
        <script src="./js/index.js"></script>
        <script src="./js/three.min.js"></script>
        <script src="./js/perlin.js"></script>
        <script src="./js/orb.js"></script>
    </body>
</html>
