<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= page %></title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
        <link rel="stylesheet" href="css/common.css" />
        <link rel="stylesheet" href="css/index.css" />
        <script src="./js/navbar.js" defer async></script>
        <script src="./js/index.js" defer async></script>
    </head>
    <body>
        <%- include('./components/alert.ejs') %>
        <%- include('./components/navbar.ejs') %>
        <script type="x-shader/x-vertex" id="vertexshader">
			   attribute float size;
			   attribute vec3 customColor;
			   varying vec3 vColor;
			   void main() {
				     vColor = customColor;
				     vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
				     gl_PointSize = size * ( 300.0 / -mvPosition.z );
				     gl_Position = projectionMatrix * mvPosition;
			   }
		    </script>
        <script type="x-shader/x-fragment" id="fragmentshader">
			   uniform vec3 color;
			   uniform sampler2D pointTexture;
			   uniform float alphaTest;
			   varying vec3 vColor;
			   void main() {
				     gl_FragColor = vec4( color * vColor, 1.0 );
				     gl_FragColor = gl_FragColor * texture2D( pointTexture, gl_PointCoord );
				     if ( gl_FragColor.a < alphaTest ) discard;
			   }
		    </script>
        <section class="title-animation">
            <div class="title__animation">
                <div id="scene0" class="scene scene--full"></div>
            </div>
            <div class="title__content">
                <h2 id="about">OPEN SOURCE CLUB</h2>
                <div class="title__content__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
                    tempore recusandae qui exercitationem blanditiis doloremque, iusto ab
                    sint sapiente ea! Voluptates amet odio quibusdam magnam veritatis
                    molestias reprehenderit facere accusamus?
                </div>
                <div>
                    <button  onclick="location.href = 'https://discord.gg/Gsxej6u';">JOIN DISCORD</button>
                    <button class="title__content__button-right" onclick="location.href = '/#contact';">CONTACT</button>
                </div>
            </div>
        </section>
        <section class="portfolio">
            <div class="section_heading">
                <h2 id="portfolio">Portfolio</h2>
                <div>Most recent Projects</div>
            </div>
            <div class="flex-center">
                <div class="portfolio__cards">
                    <div class="portfolio__cards__scroll">
                        <div id="card1" class="card">
                            <h2>Club Website</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Ipsa deleniti numquam dicta nam animi odio omnis eos qui quo
                                ipsam esse, reiciendis cum cupiditate, dignissimos nihil,
                                facilis non praesentium aliquid?
                            </p>
                            <button> SOURCE </button>
                        </div>
                        <div id="card2" class="card">
                            <h2>Club Website</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Ipsa deleniti numquam dicta nam animi odio omnis eos qui quo
                                ipsam esse, reiciendis cum cupiditate, dignissimos nihil,
                                facilis non praesentium aliquid?
                            </p>
                            <button> SOURCE </button>
                        </div>
                        <div id="card3" class="card">
                            <h2>Club Website</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Ipsa deleniti numquam dicta nam animi odio omnis eos qui quo
                                ipsam esse, reiciendis cum cupiditate, dignissimos nihil,
                                facilis non praesentium aliquid?
                            </p>
                            <button> SOURCE </button>
                        </div>
                        <div id="card4" class="card">
                            <h2>Club Website</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Ipsa deleniti numquam dicta nam animi odio omnis eos qui quo
                                ipsam esse, reiciendis cum cupiditate, dignissimos nihil,
                                facilis non praesentium aliquid?
                            </p>
                            <button> SOURCE </button>
                        </div>
                        <div id="card5" class="card">
                            <h2>Club Website</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Ipsa deleniti numquam dicta nam animi odio omnis eos qui quo
                                ipsam esse, reiciendis cum cupiditate, dignissimos nihil,
                                facilis non praesentium aliquid?
                            </p>
                            <button> SOURCE </button>
                        </div>
                        <button class="portfolio__cards__scroll__btn-left"><img src="./assets/left-swipe-arrow.png" alt="left arrow"></button>
                        <button class="portfolio__cards__scroll__btn-right"><img src="./assets/left-swipe-arrow.png" alt="right arrow"></button>
                    </div>
                </div>
            </div>

            <div class="portfolio__content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Explicabo vel esse voluptatibus deserunt, voluptatem ipsam
                    fugiat dolores sapiente hic nihil iusto vero eveniet,
                    necessitatibus nam libero ratione nostrum neque adipisci.
                </p>
            </div>
        </section>
        <section class="blog">
            <div class="section_heading">
                <h2>Blog</h2>
                <div>Recent Posts</div>
            </div>
            <div class="blog__posts">
                <div class="blog__posts-large">
                    <img src="/assets/temp-blog-post.png" id="first-post">
                    <h2>LOREM IPSUM DOLOR ></h2>
                    <p class="blog__posts__subtitle">November 1, 2022</p>
                </div>
                <div class="blog__posts-small" id="second-post">
                    <img src="/assets/temp-blog-post.png">
                    <h2>TITLE TEXT 2: SUBTITLE</h2>
                    <p class="blog__posts__subtitle">November 1, 2022</p>
                </div>
                <div class="blog__posts-small" id="third-post">
                    <img src="/assets/temp-blog-post.png">
                    <h2>TITLE TEXT 2: SUBTITLE</h2>
                    <p class="blog__posts__subtitle">November 1, 2022</p>
                </div>
            </div>
            <div class="blog__see_all">
                <button onclick="location.href = './blog';">SEE ALL</button>
            </div>
        </section>
        <section class="join" id="join">
            <div class="section_heading">
                <h2 style="white-space: nowrap;">BECOME A MEMBER</h2>
                <div>JOIN THE OSC</div>
            </div>
            <div class="join__content__perks">
                <div class="join__perks">
                    <div class="join__perks-perk">
                        <img src="/assets/freeForever.png">
                        <div>
                            <h3>Free forever</h3>
                            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Explicabo vel esse voluptatibus deserunt, voluptatem</h5>
                        </div>
                    </div>
                    <div class="join__perks-perk">
                        <img src="/assets/casualCommit.png">
                        <div>
                            <h3>Casual commitment</h3>
                            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Explicabo vel esse voluptatibus deserunt, voluptatem</h5>
                        </div>
                    </div>
                    <div class="join__perks-perk">
                        <img src="/assets/noXp.png">
                        <div>
                            <h3>No experience necessary</h3>
                            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Explicabo vel esse voluptatibus deserunt, voluptatem</h5>
                        </div>
                    </div>
                    <div class="join__perks-perk">
                        <img src="/assets/leaveAnytime.png">
                        <div>
                            <h3>Join/leave anytime</h3>
                            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Explicabo vel esse voluptatibus deserunt, voluptatem</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="join__text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Explicabo vel esse voluptatibus deserunt, voluptatem ipsam
                    fugiat dolores sapiente hic nihil iusto vero eveniet,
                    necessitatibus nam libero ratione nostrum neque adipisci.
                </p>
            </div>
            <div class="join__sign_up">
                <button onclick="location.href = 'https://discord.gg/Gsxej6u';">JOIN DISCORD</button>
            </div>
        </section>
        <section id="contact" class="contact">
            <div class="section_heading">
                <h2 style="white-space: nowrap;">CONTACT</h2>
                <div>GET IN TOUCH</div>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: center;">
                <div class="contact__content">
                <div >
                    <form id="submit-email-form" class="contact__content__form" onsubmit="sendEmail(event);">
                        <div>
                            <label for="FirstName">
                                First Name
                                <br />
                            </label>
                            <input required type="text" id="FirstName" name="FirstName" />
                        </div>
                        <div>
                            <label for="LastName">
                                Last Name
                                <br />
                            </label>
                            <input type="text" id="LastName" name="LastName" />
                        </div>
                        <div class="contact__content__form-email">
                            <label for="Email" style="width: 100%">
                                Email
                                <br / >
                            </label>
                            <input required type="email" id="Email" name="Email"/>
                        </div>
                        <div class="contact__content__form-message">
                            <label for="message">
                                Message
                                <br />
                            </label>
                            <textarea required id="Message" name="Message" rows="8" cols="51"></textarea>
                            <br />
                            <input type="submit" name="sumbit" class="contact__content__form-sumbit" style="background-color: #38F521;">
                        </div>
                    </form>
                </div>
                <div class="contact__content__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
                    tempore recusandae qui exercitationem blanditiis doloremque, iusto ab
                    sint sapiente ea! Voluptates amet odio quibusdam magnam veritatis
                    molestias reprehenderit facere accusamus. Lorem ipsum dolor sit,
                    amet consectetur adipisicing elit. Dolores tempore recusandae qui
                    exercitationem blanditiis doloremque, iusto ab sint sapiente ea!
                    Voluptates amet odio quibusdam magnam veritatis molestias
                    reprehenderit facere accusamus?
                </div>
                </div>
            </div>
        </section>
        <%- include('./components/footer.ejs') %>
        <script type="module" src="./js/dotmap.js"></script>
    </body>
</html>
