<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UF OSC | Admin Login</title>
        <link rel="stylesheet" href="./css/common.css" />
        <link rel="stylesheet" href="./css/login.css">
    </head>
    <body class="flex-center full-display">
        <!-- form  -->
        <div class="formContainer">
            <form class="formBox flex-center" method="POST" action="/auth/login">
                <label for="Username">
                    Username
                    <br>
                    <input type="text" name="username">
                </label>
                <label for="Password">
                    Password
                    <br>
                    <input type="password" name="password">
                </label>
                <label class="loginError"><%= loginError %></label>
                <input id="login" type="submit" value="Log in">
            </form>
            <p class="flex-center"> <img id="arrow" src="./assets/left-arrow-icon.png"/>
                <a href="./">Back to Home</a>
            </p>
        </div>
    </body>
</html>
