#placeholder {
    min-height: calc(100vh - 70px - 92.5px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    margin: 5px;
    margin-top: 10px;
    max-width: 400px;
    text-align: center;
}
