#dashboard-section {
  min-height: calc(100vh - 70px - 92.5px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.dashboard-subsection {
  width: min(1000px, 100%);
  margin-bottom: 30px;
}
.dashboard-subsection > h1 {
  font-family: overpass;
}

.dashboard-subsection > hr {
  height: 2px;
  background-color: black;
  border: none;
  margin-bottom: 15px;
}

section {
    background: white;
}

/* ----------CSS for Delete Buttons starts here----------------- */

.new-button {
    background-color: var(--light-black);
    color: var(--light-gray);
    border: none;
    border-radius: 3px;
    font-weight: 600;

    /* self align */
    height: 25px;
    width: 75px;
    float: right;
    margin-left: 5px;
}

#delete-button-blog{
  /* self style */
  background-color: red;
  color: var(--light-gray);
  border: none;
  border-radius: 3px;
  font-weight: 600;

  /* self align */
  height: 25px;
  width: 75px;
  float: right;
}

#delete-button-users{
  /* self style */
  background-color: red;
  color: var(--light-gray);
  border: none;
  border-radius: 3px;
  font-weight: 600;

  /* self align */
  height: 25px;
  width: 75px;
  float: right;
}

#delete-button-images{
  /* self style */
  background-color: red;
  color: var(--light-gray);
  border: none;
  border-radius: 3px;
  font-weight: 600;

  /* self align */
  height: 25px;
  width: 75px;
  float: right;
}

/* ----------CSS for Delete Buttons ends here----------------- */
