#article-section {
  min-height: calc(100vh - 70px - 92.5px);
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Overpass';
}

#banner {
  width: 100%;
  height: 300px;
}

#banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#article-content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  width: min(90%, 1000px);
  gap: 10px;
}

#article-title {
  margin-bottom: -7px;
  font-family: 'Overpass-Bold';
  font-size: 2.3rem;
  font-weight: bold;
}

#article-subheading {
  font-size: 1.2rem;
  color: #6a6a6a;
  font-weight: light;
  width: min(600px, 90%);
}

#date-author > h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 7px;
  display: inline-block;
}

#article-body {
  font-weight: 200;
  font-size: 1rem;
}
