/*........... BLOG SECTION.......... */
.blog__posts {
  padding: 0 25px;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
}

.blog__posts-large {
  grid-column-end: span 2;
}

.blog__posts div {
  height: 400px;
  font-family: 'Overpass', sans-serif;
}

.blog__posts-large img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  margin-bottom: 10px;
}

.blog__posts-small img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  margin-bottom: 10px;
}

.blog__posts-small {
  background: #74F535;
  padding: 15px;
}

.blog__posts-large {
  background: white;
}

.blog__posts__subtitle {
  font-family: 'Overpass-Bold';
  font-size: 1.5rem;
  font-weight: bold;
}

.blog__posts-large h2,
.blog__posts-large .blog__posts__subtitle {
  padding-left: 15px;
}

.blog__see_all {
  padding: 0 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.blog button {
  margin-top: 20px;
  width: 130px;
  border: 0px;

  background: #74F535;
  font-family: 'Overpass', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  border-radius: 20px;
  /* content align */
  padding: 8px 12px;
}

.blog button:hover {
  background-color: 74F535;
  box-shadow: inset 0 0 20px rgba(116, 245, 53, .5), 0 0 20px rgba(116, 245, 53, .2);
  outline-color: rgba(116, 245, 53, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

/*........... for devices over 811px (desktop view).......... */
@media only screen and (min-width: 811px) {
  .blog__posts h2 {
    font-size: 1.5rem;
  }

  .blog__posts__subtitle {
    font-size: 1.5rem;
  }
}

/* ----- for devices under 810px (tablet view)-------*/
@media only screen and (max-width: 810px) {

  .blog__posts {
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: 1fr 1fr;
  }

  .blog__posts-large {
    grid-column: 1 / span 2;
  }

  .blog__posts-small {
    grid-column: span 1;
  }

  .blog__posts h2 {
    font-size: 1.7rem;
  }

  .blog__posts__subtitle {
    font-size: 1.7rem;
  }
}

/* ----- for devices under 600px (mobile view)-------*/
@media only screen and (max-width: 600px) {

  .blog__posts {
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: 1fr;
  }

  .blog__posts-large {
    grid-column: 1 / span 1;
    padding: 15px;
  }

  .blog__posts-large img {
    height: 65%;
  }

  .blog__posts-large h2,
  .blog__posts-large .blog__posts__subtitle {
    padding: 0;
  }

  #first-post {
    background: #74F535;
  }

  #second-post {
    background: white;
  }
}