@font-face {
    font-family: 'Outrun';
    src: url(../fonts/outrun.otf);
}

@font-face {
    font-family: 'Overpass';
    src: url(../fonts/overpass.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-600:#97918F;
    --bg-200:#F1F1F1;  /*background color saturation 200*/
    --bg-100:#FBFBFB;  /*background color saturation 100*/
    --light-gray: #DBDBDB;
    --light-black: #161B22;
    --gray: #979797;
}

/*........... utility classes.......... */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-display {
    height: 100vh;
    width: 100vw;
}

/*........... base components.......... */
h1 {
    font-family: 'Outrun';
    font-size: 1.75rem;
    font-weight: bold;
}

h2 {
    font-family: 'Overpass';
    font-size: 0.85rem;
    font-weight: 600;
}

h3 {
    font-family: 'Overpass';
    font-size: 0.85rem;
    font-weight: 400;
}

