@font-face {
    font-family: 'Outrun';
    src: url(../fonts/outrun.otf);
}

@font-face {
    font-family: 'Overpass';
    src: url(../fonts/overpass.ttf);
}

@font-face {
    font-family: 'Overpass-Bold';
    src: url(../fonts/Overpass-Bold.ttf) 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
	  font: inherit;
	  vertical-align: baseline;
}

:root {
    --bg-600:#97918F;
    --bg-200:#F1F1F1;
   /*background color saturation 200*/
    --bg-100:#FBFBFB;
   /*background color saturation 100*/
    --light-gray: #DBDBDB;
    --light-black: #161B22;
    --gray: #979797;
    --blue-accent: #374BFE;
    --turquoise-accent: #2AB6BC;
}

/*........... utility classes.......... */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-display {
    height: 100vh;
    width: 100vw;
}

/*........... base components.......... */
h1 {
    font-family: 'Outrun';
    font-size: 1.75rem;
    font-weight: bold;
}

h2 {
    font-family: 'Overpass-Bold';
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-family: 'Overpass';
    font-size: 0.85rem;
    font-weight: 400;
}

h4 {
    font-family: 'Overpass';
    font-size: 13px;
    font-weight:300;
    color: black;
}

h5 {
    color: #A4A1B6;
    font-size: 13px;
    font-family: 'Overpass';
}

.section_heading {
   /* self align */
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 1200px;
    margin: 0 auto;
   /* self style */
    color: white;
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif;
   /* content align */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.section_heading div {
   /* self align */
    line-height: 30px;
    width: 100%;
   /* self style */
    color: #74F535;
    border-top: 1px solid #74F535;
}

section {
    background: black;
    padding: 20px;
}

#alert-message {
    font-family: 'Overpass', sans-serif;
    background: #e74c3c;
    color: white;
    text-align: center;
    padding: 8px 0px;
}

/*........... navbar .......... */
#navigation-bar-parent {
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

#navigation-bar {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 1200px;
    height: 70px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 30px;
    background-color: black;
    font-family: "Overpass";
    font-weight: 600;
    font-size: 0.85rem;
    color: white;
}

#navigation-bar > li > a {
    text-decoration: none;
}

#navbar-title {
    margin-right: auto;
    margin-left: 30px;
    font-family: "Outrun";
    font-size: 1.75rem;
    font-weight: bold;
}

#navbar-member-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 30px;
    background-color: #76f936;
    font-weight: 400;
    font-size: 0.85rem;
}

.menu > .navbar-item {
    position: relative;
}

#navbar-member-item > a, #navbar-member-item > a:visited, #navbar-member-item > a:link {
    text-align: center;
    padding: 0 20px 0 20px;
    color: black;
}

.navbar-item > a, .navbar-item > a:visited, .navbar-item > a:link {
    color: white;
}

.menu {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 30px;
    z-index: 1000;
}

.menu hr {
    display: none;
    color: white;
}

.menu-btn {
    margin-right: 30px;
    display: none;
    height: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.menu-btn img {
    height: inherit;
}

/*- fixes an error where the navbar doesnt reappear after width change-*/
@media only screen and (min-width: 661px) {
    #navbar-member-item br {
        display: block;
   }
}

/* ---- for devices under 660 px (tablet view) -------*/
@media only screen and (max-width: 660px) {
    #navbar-title {
        font-size: 1rem;
   }
}

/* only enables highlighting and animation on larger screens */
@media only screen and (min-width: 601px) {
   /* highlighting */
    .menu > .navbar-item:hover::after {
        position: absolute;
        border-bottom: 2px solid var(--turquoise-accent);
        width: 120%;
        height: 1px;
        top: 41px;
        left: -10%;
        content: "";
   }

   /* member button animation */
    #navbar-member-item {
        background-size: 200% 200%;
        background-image: linear-gradient(to top, var(--blue-accent) 50%, var(--turquoise-accent) 0);
        background-position: top;
        transition: background-position 0.5s ease;
   }

    #navbar-member-item:hover {
        background-position: 0 99%;
   }

    #navbar-member-item > a, #navbar-member-item > a:visited, #navbar-member-item > a:link {
        transition: color 0.5s ease;
   }

    #navbar-member-item:hover > a, #navbar-member-item:hover > a:visited, #navbar-member-item:hover > a:link {
        color: white;
   }
}

/* ----- for devices under (mobile view)-------*/
@media only screen and (max-width: 600px) {
    #navigation-bar {
        justify-content: flex-start;
        gap: 0;
   }

    .menu {
        position: absolute;
        flex-direction: column;
        top: 70px;
        background-color: black;
        height: fit-content;
        width: 100%;
        padding: 10px;
        display: none;
        transition: 0.3s ease-in-out;
   }

    .menu hr {
        display: block;
        margin-top: -10px;
        width: 100%;
   }

    #navbar-member-item br {
        display: none;
   }

    #navbar-member-item {
        background-color: transparent;
        margin-right: 0;
        width: 100%;
   }

    #navbar-member-item > a, #navbar-member-item > a:visited, #navbar-member-item > a:link {
        color: white;
        font-weight: 600;
   }

    .menu-btn {
        display: block;
   }
}

/* ----- footer -------*/
.footer-upper {
    width: 100vw;
    height: 65px;
    vertical-align: baseline;
    text-align: left;
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: 'Outrun';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.social-buttons {
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer-lower {
    background-color: white;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 5px;
    width: 100%;
    max-width: 1200px;
}

.footer-lower a {
    font-family: 'Overpass';
    font-size: 13px;
    font-weight:300;
    color: black;
}

.footer-content-container {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer {
    position: static;
    bottom: 0px;
}

.blog__posts {
    padding: 0 25px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
}

.blog__posts-large {
    grid-column-end: span 2;
}

.blog__posts div {
    height: 400px;
    font-family: 'Overpass', sans-serif;
    cursor: pointer;
}

.blog__posts div:hover {
    border: 2px solid white;
}

.blog__posts-large img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    margin-bottom: 10px;
}

.blog__posts-small img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    margin-bottom: 10px;
}

.blog__posts-small {
    background: #74F535;
    padding: 15px;
}

.blog__posts-large {
    background: white;
}

.blog__posts__subtitle {
    font-family: 'Overpass-Bold';
    font-size: 1.5rem;
    font-weight: bold;
}

.blog__posts-large h2, .blog__posts-large .blog__posts__subtitle {
    padding-left: 15px;
}

.blog__see_all {
    padding: 0 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.blog button {
    margin-top: 20px;
    width: 130px;
    border: 0px;
    background: #74F535;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    border-radius: 20px;
   /* content align */
    padding: 8px 12px;
}

.blog button:hover {
    background-color: 74F535;
    box-shadow: inset 0 0 20px rgba(116, 245, 53, .5), 0 0 20px rgba(116, 245, 53, .2);
    outline-color: rgba(116, 245, 53, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

/*........... for devices over 811px (desktop view).......... */
@media only screen and (min-width: 941px) {
    .blog__posts h2 {
        font-size: 1.5rem;
   }
    .blog__posts__subtitle {
        font-size: 1.5rem;
   }
}

@media only screen and (max-width: 940px) {
    .blog__posts h2 {
        font-size: 1.4rem;
   }
    .blog__posts__subtitle {
        font-size: 1.4rem;
   }
}

/* ----- for devices under 810px (tablet view)-------*/
@media only screen and (max-width: 810px) {
    .blog__posts {
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-template-columns: 1fr 1fr;
   }
    .blog__posts-large {
        grid-column: 1 / span 2;
   }
    .blog__posts-small {
        grid-column: span 1;
   }
    .blog__posts h2 {
        font-size: 1.7rem;
   }
    .blog__posts__subtitle {
        font-size: 1.7rem;
   }
}

/* ----- for devices under 600px (mobile view)-------*/
@media only screen and (max-width: 600px) {
    .blog__posts {
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-template-columns: 1fr;
   }
    .blog__posts-large {
        grid-column: 1 / span 1;
        padding: 15px;
   }
    .blog__posts-large img {
        height: 65%;
   }
    .blog__posts-large h2, .blog__posts-large .blog__posts__subtitle {
        padding: 0;
   }
    #first-post {
        background: #74F535;
   }
    #second-post {
        background: white;
   }
    .blog__posts div:hover {
        border: 2px solid #74F535;
   }
}

/* ----- for devices under 450px (mobile view)-------*/
@media only screen and (max-width: 450px) {
    .blog__posts h2 {
        font-size: 1.3rem;
    }
    .blog__posts__subtitle {
        font-size: 1.3rem;
    }

    .section_heading {
        flex-direction: column;
    }

    .section_heading div {
        text-align: center;
    }

    .footer-lower {
        display: flex;
        align-items: center;
    }
}
