html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/*........... TITLE ANIMATION.......... */
.title-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min(75vh, 500px);
}

.title__animation {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title__content {
    z-index: 100;
    color: white;
    text-align: center;
    max-width: 650px;
}

.title__content__text {
    text-align: center;
    margin-top: 30px;
    font-family: 'Overpass', sans-serif;
}

.title-animation button {
    margin-top: 30px;
    width: 130px;
    border: 0px;

    background: #74F535;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    border-radius: 20px;

    /* content align */
    padding: 8px 12px;
}

.title-animation button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(116, 245, 53, .5), 0 0 20px rgba(116, 245, 53, .2);
    outline-color: rgba(116, 245, 53, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.title__content__button-right {
    margin-left: 10px;
    background: none !important;
    border: solid 1px #74F535 !important;
    color: #74F535 !important;
}

.title__content__button-right:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(116, 245, 53, .5), 0 0 20px rgba(116, 245, 53, .2);
    outline-color: rgba(116, 245, 53, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

#scene0 {
    position: absolute;
    opacity: 0.8;
}

/*--------- PORTFOLIO SECTION ------*/
.portfolio {
    font-family: Overpass, sans-serif;
    padding-top: 30px;

}

.portfolio>h2 {
    width: 100%;
    max-width: 1200px;
}

.portfolio__cards__scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio__cards__scroll::-webkit-scrollbar{
    width: 0;
}

.portfolio .portfolio__cards {
    position: relative;
    width: 100vw;
    max-width: 1200px;
    overflow: hidden;
    padding: 30px;
}

.portfolio .portfolio__cards__scroll .card {
    padding: 20px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;

}

.portfolio .portfolio__cards__scroll #card1 {
    background-color: #fe754a;
}

.portfolio .portfolio__cards__scroll #card2 {
    background-color: #eb54bc;
}

.portfolio .portfolio__cards__scroll #card3 {
    background-color: #29b5bb;
}

.portfolio .portfolio__cards__scroll #card4 {
    background-color: #fe754a;
}

.portfolio .portfolio__cards__scroll #card5 {
    background-color: #eb54bc;
}

.portfolio .portfolio__cards__scroll .card>h2, p {
    margin-bottom: 20px;
}

.portfolio .portfolio__cards__scroll .card button {
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    border: none;
    display: inline-block;
    margin-top: auto;
}

.portfolio .portfolio__cards__scroll #card1 button:hover {
    box-shadow: 0px 0px 0px 2.5px #fe754a inset, 0px 0px 0px 5px #000;
    transition: 0.5s ease-in-out;
}

.portfolio .portfolio__cards__scroll #card2 button:hover {
    box-shadow: 0px 0px 0px 2.5px #eb54bc inset, 0px 0px 0px 5px #000;
    transition: 0.5s ease-in-out;
}

.portfolio .portfolio__cards__scroll #card3 button:hover {
    box-shadow: 0px 0px 0px 2.5px #29b5bb inset, 0px 0px 0px 5px #000;
    transition: 0.5s ease-in-out;
}

.portfolio .portfolio__cards__scroll #card4 button:hover {
    box-shadow: 0px 0px 0px 2.5px #fe754a inset, 0px 0px 0px 5px #000;
    transition: 0.5s ease-in-out;
}

.portfolio .portfolio__cards__scroll #card5 button:hover {
    box-shadow: 0px 0px 0px 2.5px #eb54bc inset, 0px 0px 0px 5px #000;
    transition: 0.5s ease-in-out;
}

.portfolio .portfolio__cards__scroll .portfolio__cards__scroll__btn-left,
.portfolio__cards__scroll__btn-right {
    position: absolute;
    z-index: 10;
    padding: 10px;
    height: 330px;
    width: 10%;
    border: none;
}

.portfolio .portfolio__cards__scroll .portfolio__cards__scroll__btn-left {
    display: none;
    left: 0px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
}

.portfolio .portfolio__cards__scroll .portfolio__cards__scroll__btn-right {
    right: 0px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
}

.portfolio .portfolio__cards__scroll .portfolio__cards__scroll__btn-right img,
.portfolio__cards__scroll__btn-left img {
    width: 60%;
    cursor: pointer;
}

.portfolio .portfolio__cards__scroll .portfolio__cards__scroll__btn-right img {
    transform: rotateZ(180deg);
}

.portfolio .portfolio__content p {
    color: white;
    padding: 30px;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

/*........... JOIN SECTION.......... */
.join .join__perks-perk {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    color: white;
}

.join .join__perks-perk h3 {
    font-size: 19px;
}

.join .join__perks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    max-width: 1200px;
}

.join .join__content__perks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.join button {
    width: 170px;
    border: 0px;

    background: #74F535;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    border-radius: 20px;
    /* content align */
    padding: 8px 12px;
}

.join button:hover {
    background-color: 74F535;
    box-shadow: inset 0 0 20px rgba(116, 245, 53, .5), 0 0 20px rgba(116, 245, 53, .2);
    outline-color: rgba(116, 245, 53, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.join .join__sign_up {
    padding: 0 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.join .join__text {
    padding: 0 35px;
    font-family: 'Overpass';
    color: white;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

/*........... CONTACT SECTION.......... */
.contact__content {
    display: grid;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
}

label {
    color: white;
    font-family: 'Overpass';
}

.contact__content__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    max-height: 500px;
}

.contact__content__form input {
    height: 40px;
    margin: 10px;
    margin-left: 0px;
    width: 100%;
    border-radius: 6px;
}

textarea {
    margin: 10px;
    margin-left: 0px;
    width: 100%;
    border-radius: 6px;
}

.contact__content__form-email,
.contact__content__form-message {
    grid-column: 1 / 3;
}

.contact__content__form-sumbit {
    width: 100px !important;
    border: 0px;

    background: #74F535;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    border-radius: 20px;
    /* content align */
    padding: 8px 12px;
}

.contact__content__form-sumbit:hover {
    background-color: 74F535;
    box-shadow: inset 0 0 20px rgba(116, 245, 53, .5), 0 0 20px rgba(116, 245, 53, .2);
    outline-color: rgba(116, 245, 53, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.contact__content__text {
    padding: 0 35px;
    font-family: 'Overpass';
    color: white;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    text-align: right;
}

/* ----- for devices under 810px (tablet view)-------*/
@media only screen and (max-width: 810px) {
    .join .join__perks-perk {
        grid-template-columns: 1fr 4fr;
    }
}

@media only screen and (max-width: 730px) {
    .join .join__perks-perk {
        grid-template-columns: 1fr 3fr;
    }
}

/* ----- for devices under 600px (mobile view)-------*/
@media only screen and (max-width: 600px) {
    .join .join__perks-perk {
        gap: 10px;
        grid-template-columns: 1fr 4.5fr;
    }

    .join .join__perks {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .about__get-started {
        margin: 0 25px;
    }

    .about__get-started__content {
        /* content align */
        display: grid;
        grid-template-columns: 1fr;
    }

    .about__get-started h2 {
        /* self style */
        text-transform: uppercase;
    }

    .about__get-started button {
        /* self align */
        grid-row: 3;
    }

    .about__get-started-text {
        /* self align */
        grid-row: 2;
        grid-column: 1;
        /* self style */
        text-align: left;
    }

    .contact__content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .contact__content__text {
        grid-row: 1;
        text-align: center;
    }

    .portfolio .portfolio__cards__scroll .portfolio__cards__scroll__btn-left,
    .portfolio__cards__scroll__btn-right {
        width: 15%;
    }
}

@media only screen and (max-width: 450px) {
    .contact__content__text {
        margin-bottom: 55px;
    }
}
