* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Overpass';
}

body {
    background-color: var(--bg-200);
    font-weight: normal;
    color:    var(--bg-600);
    letter-spacing: 0;
    line-height: 30px;
}

.formContainer p {
    font-size: small;
    justify-content: flex-start;
}

.formContainer p a {
    color: inherit;
}

.formContainer p img {
    display: inline;
    width: 20px;
    margin: 10px;
}

.formContainer .formBox {
    background: white;
    border: 1px solid #f0f0f0;
    outline: 1px solid #eaeaea;
    box-shadow: 0 2px 4px 0 #c2c1c1;
    flex-direction: column;
    min-width: 300px;
}

.formBox label {
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
    min-width: 250px;
}

.formBox label input {
    padding: 10px;
    background: #FBFBFB;
    border: 1px solid #E7E7E7;
    outline: 2px solid #EAEAEA;
    width: 100%;
}

.formBox label input:hover {
    transition: 0.2s ease-in-out;
    outline: 2px solid var(--bg-600);
}

.formBox #login {
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 20px;
    margin-top: 5px;
    color: white;
    background-color: rgb(27, 134, 255);
    border: 2px solid rgb(0, 111, 237);
    border-radius: 3px;
    opacity: 0.8;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

#login:hover {
    opacity: 1;
    scale: 1.05;
}

.loginError {
    color: red;
    text-align: center;
}