@font-face {
  font-family: 'Outrun';
  src: url(../fonts/outrun.otf);
}

@font-face {
  font-family: 'Overpass';
  src: url(../fonts/overpass.ttf);
}

body {
  margin: 0;
}

#navigation-bar {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 70px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 25px;
  background-color: black;
  color: white;
  font-family: 'Overpass';
}

#navigation-bar > li > a {
  color: white;
  text-decoration: none;
}

#navbar-title {
  font-family: 'Outrun';
  margin-right: auto;
  margin-left: 25px;
}

#navbar-member-item {
  margin-right: 25px;
}
