.top-contributors {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header,
.contributor-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

.header-rank,
.contributor-rank {
    width: 30px;
    text-align: left;
    margin-right: 10px;
    padding-left: 10px;
}

.header-user,
.contributor-link {
    display: flex;
    align-items: center;
    flex: 1;
    text-decoration: none;
    color: inherit;
}

.header-user {
    text-align: center;
}

.header-contributions,
.contributor-contributions {
    text-align: right;
    width: 80px; /* Adjust width as needed */
}

.contributor-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.contributor-name {
    font-weight: bold;
    margin-left: 10px;
}
