.about {
    background: var(--theme-bg);
    min-height: calc(100vh - 70px - 80px); /* 100vh minus navbar minus footer. */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1 {
    font-size: var(--fontSize-5);
}

.about h2 {
    font-weight: var(--fontWeight-light);
}

.about section {
    width: var(--width-max);
    max-width: 1200px;
    padding: 15px 15px;
}

#casual-coding {
    width: var(--width-max);
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#casual-coding img {
    max-width: 600px;
    height: 420px;
    object-fit: cover;
    border-radius: 23px;
    padding-left: 30px;
}

#casual-coding button {
    margin-left: 0px;
}

.slide-img {
    width: var(--width-max);
    object-fit: cover;
    height: 550px;
}

#slideshow a {
    color: var(--theme-dim);
}

#slideshow, .slide-container, .slideshow-body {
    width: var(--width-max);
}

.slide-img__meta {
    width: var(--width-max);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    padding: 20px;
}

.slide-img__meta h1 {
    font-size: var(--fontSize-3);
    text-align: left;
}

.slide-img__meta h2 {
    font-size: var(--fontSize-1);
    text-align: left;
}

@media only screen and (max-width: 800px) {
    #casual-coding {
        display: flex;
        flex-direction: column-reverse;
    }

    #casual-coding img {
        max-width: var(--width-screen);
        width: 100%;
        margin: 40px auto;
    }
}

@media only screen and (max-width: 550px) {
    .slide-img { height: 400px; }

    .about h1 { font-size: var(--fontSize-4); }

    .about h2 {
        font-size: var(--fontSize-2);
        font-weight: var(--fontWeight-light);
    }
}

@media only screen and (max-width: 400px) {
    #slideshow { display: none; }
}
