#blog-layout {
    background: var(--theme-bg);
    min-height: calc(100vh - 70px - 80px); /* 100vh minus navbar minus footer. */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blog-content {
    display: flex;
    flex-direction: column;
    width: var(--width-max);
    max-width: var(--width-l);
    padding: 30px;
}

#no-posts-yet {
    margin: 10% auto;
}

#blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px 20px;
}

#blog-posts .card-container {
    max-width: 500px;
    margin: 0;
}

@media only screen and (max-width: 900px) {
    #blog-posts {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 700px) {
    #blog-posts {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 500px) {
    #blog-posts {
        grid-template-columns: 1fr;
    }

    #blog-posts .card-container img {
        width: var(--width-max);
        height: 200px;
        object-fit: cover;
    }
}
