.slide-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--width-l);
    height: 400px;
}

.slide-content h1 {
    font-size: var(--fontSize-3);
    text-align: center;
    margin: 5px 0;
}

.slide-content h2 {
    text-align: center;
    margin: 5px 0;
}

.slide-meta {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

#section-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--theme-bg);
}

#section-root section {
    width: var(--width-max);
    max-width: var(--width-l);
    padding: 30px 15px;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.section-root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-root button {
    margin-left: 0;
    margin-top: 20px;
}

.section-root .tertiary {
    margin-top: 0;
}

.club-group-photo {
    margin: 10px;
    border-radius: 23px;
    width: var(--width-max);
}

#infinite-scroll-heading {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: var(--width-l);
    width: var(--width-max);
    margin-bottom: 20px;
    padding: 0px 15px;
}

.infinite-scroll {
    padding: 20px;
    min-height: 650px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(8, 300px);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.infinite-scroll img {
    border-radius: 23px;
    max-width: var(--width-max);
}

.infinite-scroll .card {
    width: var(--width-max);
    height: 100%;
    border-radius: 23px;
    background: var(--theme-dimmer);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.infinite-scroll .card h1 {
    font-size: var(--fontSize-4);
    text-align: center;
}

.infinite-scroll .card h2 {
    font-size: var(--fontSize-1);
    text-align: center;
}

.infinite-scroll__image__meta {
    width: var(--width-max);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    padding: 20px;
}

.infinite-scroll__image__meta h1 {
    font-size: var(--fontSize-3);
    text-align: left;
}

.infinite-scroll__image__meta h2 {
    font-size: var(--fontSize-1);
    text-align: left;
}

#become-a-member-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px auto;
    max-width: var(--width-l);
    width: var(--width-max);
    margin-bottom: 20px;
    padding: 0px 15px;
}

#become-a-member {
    min-height: 650px;
}

#become-a-member--actions {
    margin-top: 50px;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#contact-form__meta {
    font-weight: var(--fontWeight-light);
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media only screen and (max-width: 850px) {
    .slide-content h1 {
        font-size: var(--fontSize-2);
        text-align: center;
        margin: 5px 0;
    }

    .slide-content h2 {
        font-size: var(--fontSize-2);
        text-align: center;
        margin: 5px 0;
    }

    .project-container {
        grid-template-columns: 1fr 1fr;
    }

    .about-container h3 {
        font-size: var(--fontSize-2);
    }

    .about-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-container img {
        max-height: 400px;
        width: var(--width-max);
        object-fit: cover;
    }
}

@media only screen and (max-width: 700px) {
    .slide-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: 600px;
        max-height: 600px;
    }

    .about-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .contact-form {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    #contact-form__meta {
        grid-row: 1;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 550px) {
    .project-container {
        grid-template-columns: 1fr;
    }

    #become-a-member--actions {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 380px) {
    #become-a-member--actions {
        display: flex;
        flex-direction: column;
    }

    #become-a-member--actions .secondary {
        margin-left: 0;
    }

    #become-a-member--actions button {
        width: 150px;
    }

    #contact-form__meta, form {
        max-width: 85vw;
    }
}
