.slide-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    height: 400px;
}

.slide-content h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 5px 0;
}

.slide-content h3 {
    text-align: center;
    margin: 5px 0;
}

.slide-meta {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

#section-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}

#section-root section {
    width: 100%;
    max-width: 1100px;
    padding: 30px 15px;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.section-root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-root button {
    margin-left: 0;
    margin-top: 20px;
}

.section-root .tertiary {
    margin-top: 0;
}

.club-group-photo {
    margin: 10px;
    border-radius: 23px;
    width: 400px;
}

#faq-section,section a {
    text-decoration-color: #e056fd;
    color: #e056fd;
}

#faq-section,section a:link {
    text-decoration-color: #e056fd;
    color: #e056fd;
}

#faq-section,section a:visited {
    text-decoration-color: #e056fd;
    color: #e056fd;
}

#infinite-scroll-heading {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px 15px;
}

.infinite-scroll {
    padding: 20px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(8, 300px);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.infinite-scroll img {
    border-radius: 23px;
    max-width: 100%;
}

.infinite-scroll .card {
    width: 100%;
    height: 100%;
    border-radius: 23px;
    background: #1B1622;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.infinite-scroll .card h2 {
    font-size: 2rem;
    text-align: center;
}

.infinite-scroll .card h3 {
    font-size: 1rem;
    text-align: center;
}

.infinite-scroll__image__meta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    padding: 20px;
}

.infinite-scroll__image__meta h2 {
    font-size: 1.5rem;
    text-align: left;
}

.infinite-scroll__image__meta h3 {
    font-size: 1rem;
    text-align: left;
}

#become-a-member-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px auto;
    max-width: 1100px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px 15px;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#contact-form__meta {
    font-weight: 300;
}

@media only screen and (max-width: 850px) {
    .slide-content h2 {
        font-size: 1.2rem;
        text-align: center;
        margin: 5px 0;
    }

    .slide-content h3 {
        font-size: 1.2rem;
        text-align: center;
        margin: 5px 0;
    }

    .project-container {
        grid-template-columns: 1fr 1fr;
    }

    .about-container h3 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 700px) {
    .slide-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: 600px;
        max-height: 600px;
    }

    .about-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .contact-form {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    #contact-form__meta {
        grid-row: 1;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 550px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}
