.card-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 300px;
    padding: 5px;
    justify-content: flex-start;
}

.card-container:hover {
    background-color: #2AB6BC;
}

.card-container:hover h1 {
    color: var(--theme-bg);
}

.card-container:hover h2 {
    color: var(--theme-bg);
}

.card-container:active {
    transform: translateY(3px);
}

.card-container h1 {
    font-size: var(--fontSize-3);
    margin: 5px 0;
}

.card-container h2 {
    font-size: var(--fontSize-1);
    margin: 5px 0;
}

.card-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
