.footer-upper {
    width: var(--width-screen);
    height: 65px;
    vertical-align: baseline;
    text-align: left;
    background-color: var(--theme-bg);
    color: var(--theme-fg);
    font-family: var(--fontFamily-Diatype);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--width-l);
}

.footer-upper__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--theme-bg);
}

.footer-upper__text h1 {
    padding-left: 20px;
    font-size: var(--fontSize-2);
}

.social-buttons {
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.social-buttons a {
    height: 35px;
}

.footer-lower {
    background-color: var(--theme-fg);
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 5px;
    width: var(--width-max);
    max-width: var(--width-l);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-lower a {
    font-family: 'Diatype';
    font-size: var(--fontSize-0);
    font-weight: var(--fontWeight-light);
    color: var(--theme-bg);
}

.footer-content-container {
    background-color: var(--theme-bg);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer {
    position: static;
    bottom: 0px;
}

.version-txt {
    color: var(--theme-fg);
    font-family: Arial;
    padding-left: 30px;
    font-weight: normal;
    font-size: var(--fontSize-0);
    padding-top: 7.5px;
    margin: 0;
}

.footer-lower p {
    font-family: var(--fontFamily-Diatype);
    font-size: var(--fontSize-0);
    font-weight: var(--fontWeight-light);
    color: var(--theme-bg);
    margin: 0;
}

@media only screen and (max-width: 450px) {
    .footer-lower {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 390px) {
    .footer-upper__text h1 {
        font-size: var(--fontSize-1);
    }

    .version-txt {
        display: none;
    }
}
