.footer-upper {
    width: 100vw;
    height: 65px;
    vertical-align: baseline;
    text-align: left;
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: 'Outrun';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.footer-upper__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
}

.footer-upper__text h1 {
    padding-left: 20px;
    font-size: 18px;
}

.social-buttons {
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.social-buttons a {
    height: 35px;
}

.footer-lower {
    background-color: white;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 5px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-lower a {
    font-family: 'Diatype';
    font-size: 13px;
    font-weight:300;
    color: black;
}

.footer-content-container {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer {
    position: static;
    bottom: 0px;
}

.version-txt {
    color: aliceblue;
    font-family: Arial;
    padding-left: 30px;
    font-weight: normal;
    font-size: 15px;
    padding-top: 7.5px;
    margin: 0;
}

.footer-lower p {
    font-family: 'Diatype';
    font-size: 13px;
    font-weight:300;
    color: black;
    margin: 0;
}

@media only screen and (max-width: 450px) {
    .footer-lower {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 380px) {
    .footer-upper__text h1 {
        font-size: 1rem;
    }

    .version-txt {
        display: none;
    }
}
