@font-face {
    font-family: 'Outrun';
    font-display: swap;
    src: url('./fonts/outrun.otf');
}

@font-face {
    font-family: Diatype;
    font-display: swap;
    src: url('./fonts/ABCDiatype-Thin.woff2') format("woff2");
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

@font-face {
    font-family: Diatype;
    font-display: swap;
    src: url('./fonts/ABCDiatype-Light.woff2') format("woff2");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

@font-face {
    font-family: Diatype;
    font-display: swap;
    src: url('./fonts/ABCDiatype-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

@font-face {
    font-family: Diatype;
    font-display: swap;
    src: url('./fonts/ABCDiatype-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1 {
    font-family: 'Outrun';
    font-size: 1.75rem;
    font-weight: bold;
}

h2 {
    font-family: 'Diatype';
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

h3 {
    font-family: 'Diatype';
    font-size: 1.4rem;
    font-weight: 400;
    color: #e8e8e8;
}

h4 {
    font-family: 'Diatype';
    font-size: 13px;
    font-weight:300;
    color: black;
}

h5 {
    color: #A4A1B6;
    font-size: 13px;
    font-family: 'Diatype';
}

mark {
    background-color: #B8DE58;
}

button, input[type=button], input[type=submit] {
    background: #BE2FDD;
    border-radius: 36px;
    border: none;
    box-shadow: none;
    padding: 15px;
    font-family: 'Diatype';
    color: white;
    font-weight: 200;
    min-height: 50px;
    min-width: 150px;
    margin: 10px;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
    background: #7CD6DF;
    transition: 0.1s ease-in-out;
    color: black;
}

button:active {
  transform: translateY(3px);
}

.secondary {
    background: none;
    border: 1px solid white;
}

.secondary:hover {
    background: white;
    color: black;
    transition: 0.1s ease-in-out;
}

.tertiary {
    background: none;
    border: 1px solid white;
    padding: 5px;
    height: 30px;
    min-height: 0;
    min-width: 160px;
    margin: 0px;
    font-size: 1rem;
}

.tertiary:hover {
    background: white;
    color: black;
    transition: 0.1s ease-in-out;
}

section {
    display: flex;
    flex-direction: column;
    background: black;
}

.section-heading {
    text-align: left;
    font-size: 1.8rem;
    padding-bottom: 30px;
}

.Typewriter__wrapper {
    font-family: 'Diatype';
    color: black;
    font-size: 4rem;
    font-weight: bold;
    background: #B8DE58;
}

.Typewriter__cursor {
    font-family: 'Diatype';
    color: black;
    font-size: 4rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type=submit] {
    width: fit-content;
    margin-left: 0;
}

input[type=text], textarea {
    margin-bottom: 20px;
    min-height: 30px;
    padding: 10px;
    font-family: 'Diatype';
    font-size: 1rem;
    font-weight:300;
    border-radius: 9px;
    resize: none;
}

input[type=checkbox] {
    margin: 0;
    min-height: 15px;
    min-width: 15px;
}

label {
    font-family: 'Diatype';
    font-size: 1rem;
    font-weight:300;
    color: white;
    margin-bottom: 5px;
}

.gatsby-image-wrapper, .gatsby-image-wrapper-constrained {
    height: 100%;
    width: 100%;
}
