:root {
    /* Font families */
    --fontFamily-Diatype: "Diatype", system-ui, -apple-system,
                          BlinkMacSystemFont, "Segoe UI", Roboto,
                          "Helvetica Neue", Arial, "Noto Sans",
                          sans-serif, "Apple Color Emoji",
                          "Segoe UI Emoji", "Segoe UI Symbol",
                          "Noto Color Emoji";
    --fontFamily-Outrun: "Outrun", system-ui, -apple-system,
                          BlinkMacSystemFont, "Segoe UI", Roboto,
                          "Helvetica Neue", Arial, "Noto Sans",
                          sans-serif, "Apple Color Emoji",
                          "Segoe UI Emoji", "Segoe UI Symbol",
                          "Noto Color Emoji";

    /* Font sizes */
    --fontSize-0: 13px;
    --fontSize-1: 1rem;
    --fontSize-2: 1.3rem;
    --fontSize-3: 1.5rem;
    --fontSize-4: 1.75rem;
    --fontSize-5: 2.8rem;
    --fontSize-6: 3.2rem;
    --fontSize-7: 4rem;

    /* Font weights */
    --fontWeight-thin: 200;
    --fontWeight-light: 300;
    --fontWeight-regular: 400;
    --fontWeight-bold: 700;

    /* Width */
    --width-max: 100%;
    --width-screen: 100vw;
    --width-m: 800px;
    --width-l: 1200px;

    /* Theme colors */
    --theme-fg: white;
    --theme-bg: black;
    --theme-code: #afbcbf;
    --theme-keyword: #6a88ff;
    --theme-attrib: #029fff;
    --theme-cls-name: #af8aff;
    --theme-tag: #3dc0b0;
    --theme-comment: #cf9f7f;
    --theme-dim: #e8e8e8;
    --theme-dimmer: #272629;
    --theme-grey: rgb(42 38 49);
    --theme-light-grey: #DBDBDB;
    --theme-dark-blue: #374BFE;
    --theme-highlight: #00FF7B;
    --theme-primary: #BE2FDD;
    --theme-secondary: #7CD6DF;
    --theme-highlight-alt: #B8DE58;
    --theme-gradient: linear-gradient(90deg, #1EF198 0%, #73CBF8 45%, #69B0F5 100%);
}

@font-face {
    font-family: 'Outrun';
    font-display: swap;
    src: url('./fonts/outrun.otf');
}

@font-face {
    font-family: Diatype;
    font-display: swap;
    src: url('./fonts/ABCDiatype-Thin.woff2') format("woff2");
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

@font-face {
    font-family: Diatype;
    font-display: swap;
    src: url('./fonts/ABCDiatype-Light.woff2') format("woff2");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

@font-face {
    font-family: Diatype;
    font-display: swap;
    src: url('./fonts/ABCDiatype-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

@font-face {
    font-family: Diatype;
    font-display: swap;
    src: url('./fonts/ABCDiatype-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.title-txt {
    font-family: var(--fontFamily-Outrun);
    font-size: var(--fontSize-4);
    color: var(--theme-fg);
    font-weight: var(--fontWeight-bold);
}

h1 {
    font-family: var(--fontFamily-Diatype);
    color: var(--theme-fg);
    font-size: var(--fontSize-7);
    font-weight: var(--fontWeight-bold);
}

h2 {
    font-family: var(--fontFamily-Diatype);
    font-size: var(--fontSize-3);
    font-weight: var(--fontWeight-regular);
    color: var(--theme-dim);
}

h3 {
    font-family: var(--fontFamily-Diatype);
    font-size: var(--fontSize-0);
    font-weight: var(--fontWeight-light);
    color: var(--theme-black);
}

mark {
    background-color: var(--theme-highlight);
}

button, input[type=button], input[type=submit] {
    background: var(--theme-primary);
    border-radius: 36px;
    border: none;
    box-shadow: none;
    padding: 15px;
    font-family: var(--fontFamily-Diatype);
    color: var(--theme-fg);
    font-weight: var(--fontWeight-thin);
    min-height: 50px;
    min-width: 150px;
    margin: 10px;
}

input[type=submit]:disabled {
    opacity: 0.7;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
    background: var(--theme-secondary);
    transition: 0.1s ease-in-out;
    color: var(--theme-black);
}

button:active {
  transform: translateY(3px);
}

.secondary {
    background: none;
    border: 1px solid var(--theme-fg);
}

.secondary:hover {
    background: var(--theme-fg);
    color: var(--theme-bg);
    transition: 0.1s ease-in-out;
}

.tertiary {
    background: none;
    border: 1px solid var(--theme-fg);
    padding: 5px;
    height: 30px;
    min-height: 0;
    min-width: 160px;
    margin: 0px;
    font-size: var(--fontSize-1);
}

.tertiary:hover {
    background: var(--theme-fg);
    color: var(--theme-bg);
    transition: 0.1s ease-in-out;
}

section {
    display: flex;
    flex-direction: column;
    background: var(--theme-bg);
}

.section-heading {
    text-align: left;
    font-size: var(--fontSize-4);
    padding-bottom: 20px;
}

.Typewriter__wrapper {
    font-family: var(--fontFamily-Diatype);
    color: var(--theme-bg);
    font-size: var(--fontSize-7);
    font-weight: var(--fontWeight-bold);
    background: var(--theme-highlight-alt);
}

.Typewriter__cursor {
    font-family: var(--fontFamily-Diatype);
    color: var(--theme-bg);
    font-size: var(--fontSize-7);
    font-weight: var(--fontWeight-bold);
}

form {
    display: flex;
    flex-direction: column;
}

form input[type=submit] {
    width: fit-content;
    margin-left: 0;
}

input[type=text], textarea {
    margin-bottom: 20px;
    min-height: 30px;
    padding: 10px;
    font-family: var(--fontFamily-Diatype);
    font-size: var(--fontSize-1);
    font-weight: var(--fontWeight-light);
    border-radius: 9px;
    resize: none;
}

input[type=checkbox] {
    margin: 0;
    min-height: 15px;
    min-width: 15px;
}

label {
    font-family: var(--fontFamily-Diatype);
    font-size: var(--fontSize-1);
    font-weight: var(--fontWeight-light);
    color: var(--theme-fg);
    margin-bottom: 5px;
}

a, a:link, a:visited {
    text-decoration-color: var(--theme-highlight);
    color: var(--theme-highlight);
}

.gatsby-image-wrapper, .gatsby-image-wrapper-constrained {
    height: 100%;
    width: 100%;
}

#captcha-container {
    margin: 20px 0px;
}

#trk-pixel {
    position: fixed;
    width: 1px;
    height: 1px;
    top: 0px;
    left: 0px;
}

@media only screen and (max-width: 500px) {
    .Typewriter__cursor, .Typewriter__wrapper, h1 {
        font-size: var(--fontSize-6);
    }

    h2 {
        font-size: var(--fontSize-2);
    }

    .tertiary {
        padding: 0;
    }
}

@media only screen and (max-width: 380px) {
    .Typewriter__cursor, .Typewriter__wrapper, h1 {
        font-size: var(--fontSize-6);
    }
}

@media only screen and (max-width: 350px) {
    .Typewriter__cursor, .Typewriter__wrapper, h1 {
        font-size: var(--fontSize-5);
    }

    button {
        padding: 5px;
        margin: 10px 0px;
    }

    .section-heading {
        font-size: var(--fontSize-3);
    }
}
