@keyframes flip-open {
    0% { transform: rotate(-180deg); }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes flip-close {
    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

.accordion {
    margin: 15px 0;
}

.accordion-item {
    background: var(--theme-grey);
    margin-bottom: 10px;
}

.accordion-item--trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.accordion-item--trigger h2 {
    font-size: var(--fontSize-2);
    font-weight: var(--fontWeight-light);
    margin: 0px;
}

.accordion-item--trigger:hover h2 {
    text-decoration: underline;
}

.accordion-item--body {
    font-family: var(--fontFamily-Diatype);
    font-size: var(--fontSize-2);
    color: var(--theme-fg);
    font-weight: var(--fontWeight-thin);
    padding: 15px;
}
